a{
    text-decoration: none;
}
a:hover{
    color: red;
    font-weight: 900;
}
.h1{
    color:blue;
    font-size: 72px;
    font-weight: 900;
}
.p{
    font-size: 19px;
    font-weight: 600;
    text-transform: uppercase;
    color: red;
}
ul{
    list-style: lower-greek;
}
.table{
    background-color: chartreuse;
    color: black;
    font-size: 18px;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    text-align: center;
}
.box{
    width: 200px;/*ancho de el contenedor*/
    height: 300px;/*altura de el contenedor*/
    background-color: rgba(255, 102, 0, 0.402);
    padding: 80px 40px;
    margin-left: 300px;
    color: black;
    font-weight: 42px;
}
.box:hover{
    background-color: brown;
}