.text{
    list-style: none;
   
}
.text li a{
text-decoration: none;}
.text li a :hover{
color: blue;


}
.fondo{
    background-color: gray;
    color:rgb(69, 67, 67)
}
.h1{
    font: size 58px;px ;
    color: yellow;
    text-transform: uppercase;
}
h1{
    font-size: 30px;
    text-transform: lowercase;
    color:magenta
}
